.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.logo{
  width: 382px;
  height: 56px;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 22px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -moz-background-size: 202px 56px;
  background-size: 202px 56px;
  background-image: url(//static.360buyimg.com/mtd/pc/supermarket/2.0.0/home/images/supermarket_logo.png);
  [data-dpr="2"] & {
    background-image: url(//static.360buyimg.com/mtd/pc/supermarket/2.0.0/home/images/supermarket_logo@2x.png);
  }
}
.logo2{
  width: 382px;
  height: 56px;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 22px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -moz-background-size: 202px 56px;
  background-size: 202px 56px;
  background-image: url(//static.360buyimg.com/mtd/pc/supermarket/2.0.0/home/images/supermarket_logo@1x.png);
  background-image: -webkit-image-set(url(//static.360buyimg.com/mtd/pc/supermarket/2.0.0/home/images/supermarket_logo@1x.png) 1x,url(//static.360buyimg.com/mtd/pc/supermarket/2.0.0/home/images/supermarket_logo@2x.png) 2x);
  background-image: image-set(url(//static.360buyimg.com/mtd/pc/supermarket/2.0.0/home/images/supermarket_logo@1x.png) 1x,url(//static.360buyimg.com/mtd/pc/supermarket/2.0.0/home/images/supermarket_logo@2x.png) 2x)
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
